* {
	font-family: sans-serif;
}

#header {
	font-size: 20pt;
	color: white;
	background-color: blue;
}

#menu {
	border-right: 1px solid black;
	width: 20%;
	height: 100%;
	float: left;
}

#menu a {
	display: block;
	margin: 5px;
	text-decoration: underline;
}

#menu a:hover {
	background-color: blue;
	color: white;
	text-decoration: none;
}

#content {
	margin-left: 21%;
}

#footer {
	font-size: 10pt;
	border-top: 1px solid black;
	clear: both;
}

a{
	color: blue;
}

h2{
	color: blue;
}

.items td{
	text-align: center;
}

.row{
	margin-left: 30%;
	margin-bottom: 5px;
}

.row, .row input, .row textarea, .row select{
	display: block;
}

.row input{
	font-size: 12pt;
}

.errorSummary{
	border: 1px solid red;
	color: red;
}

.error{
	background-color: red;
	color: white;
}